body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:'titulo titulo'
                        'error error' 
                        'form tabla'
                        'huesped huesped'
                         
}

h1{
    text-align: center;
    grid-area: titulo;
}

h2{
    grid-area: huesped;
}

input{
    margin: 5px;
}

div{
    justify-content: center;
}

table,tr,th,td{
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

th{
    background-color: darkgray;
}

table{
    margin-top: 10px;
    border-collapse: collapse;
    background-color: beige;
    grid-area: tabla;
}

#body{
    background-color: bisque;
    padding: 10px;
}

#form{
    grid-area: form;
}

label{
    display: inline-block;
    width: 150px;
  }

#errores{
    text-align: left;
    color: red;
    grid-area: error;
}