body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:'titulo titulo titulo'
                        'error error error' 
                        'form tabla tabla'
                        'huesped huesped huesped'
                        'info info info'
                         
}

h1{
    text-align: center;
    grid-area: titulo;
}

h2{
    grid-area: huesped;
}

input{
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
}

div{
    justify-content: center;
}

table,tr,th,td{
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

th{
    background-color: darkgray;
}

table{
    text-align: center;
    border-collapse: collapse;
    background-color: beige;
    grid-area: tabla;
}

#body{
    background-color: bisque;
    padding: 10px;
}

#form{
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: lightsalmon;
    grid-area: form;
}

label{
    display: inline-block;
    width: 150px;
  }

#errores{
    margin-bottom: 20px;
    text-align: left;
    color: red;
    grid-area: error;
}

#infoReserva{
    grid-area: info;
}